<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/index.css" />
</head>
<body>
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Faculty", "Index", "Faculty")

    <div>
        @RenderBody()
    </div>
    
    <footer>Copyright</footer>
    <script type='text/javascript' src='~/scripts/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script type='text/javascript' src='~/scripts/bootstrap.min.js'></script>
    <script type='text/javascript' src='~/scripts/knockout-3.4.2.js'></script>
    <script type='text/javascript' src='~/scripts/index.js'></script>
    
</body>
</html>
