
@{
    ViewBag.Title = "Faculty | IIT";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@model IIT_Faculties.Models.Faculty

<div id="home" data-bind="template: { name: $root.Template, data: $data }"></div>


<script type="text/html" id="default-template">
    <div class="container search-container">
        <h2 class="text-center">Search</h2>

        <div class="form">
            <div class="form-group">
                <input type="search" class="form-control" data-bind="textInput: $root.query" autocomplete="off" placeholder="Search by name" />
            </div>
        </div>
    </div>

    <div class="container home-container">
        <h2>All Faculties</h2>
        <button class="btn btn-primary change-create" id="create">Create</button>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Designation)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Qualtification)
                </th>

                <th></th>
            </tr>

            <tbody data-bind="foreach: $root.filteredFaculties, visible: $root.faculties().length > 0">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Designation"></td>
                    <td data-bind="text: Qualtification"></td>
                    <td>
                        <button class="btn btn-success change-edit">Edit</button>
                        <button class="btn btn-info change-detail">Details</button>
                        <button class="btn btn-danger" data-bind="click: function() { $root.removeFaculty($data); }">Delete</button>
                    </td>
                </tr>
            </tbody>
            <tr class="no-entry" data-bind="visible: $root.faculties().length == 0">
                <td>No entry found!</td>
            </tr>
        </table>
    </div>
</script>

<script type="text/html" id="create-template">
    <div class="container create-container">
        <h2>Create</h2>
        <div>
            <form data-bind="submit: createNew">
                <input data-bind="value: NewName" placeholder="Full Name" />
                <input data-bind="value: NewDesignation" placeholder="Designation" />
                <input data-bind="value: NewQualification" placeholder="Qualification" />
                <input data-bind="value: NewDBLP" placeholder="DBLP Profile (optional)" />
                <input data-bind="value: NewGoogleScholar" placeholder="Google Scholar Profile (optional)" />
                <input data-bind="value: NewAcademia" placeholder="Academia Profile (optional)" />
                <input data-bind="value: NewResearchGate" placeholder="ResearchGate Profile (optional)" />
                <select data-bind="options: CurrentStatus, optionsText: 'key', value: selectedStatus, optionsCaption: 'Choose...'"></select>
                <button type="submit">Create</button>
            </form>
        </div>
        <div>
            <button class="btn btn-default change-default">Back</button>
        </div>
    </div>
</script>

<script type="text/html" id="details-template">
    <div class="container details-container">
        <h2>Details</h2>

        <div>
            <button data-bind="click: showDetails" class="btn btn-success">Details</button>
            <button class="btn btn-default change-default">Back</button>
        </div>
    </div>
</script>

<script type="text/html" id="edit-template">
    <div class="container edit-container">
        <h2>Edit</h2>

        <div>
            <button data-bind="click: save" class="btn btn-primary">Edit</button>
            <button class="btn btn-default change-default">Back</button>
        </div>
    </div>
</script>


